/* estilos.css */

@import url('https://fonts.googleapis.com/css?family=Michroma|Open+Sans');

:root {
    --blanco: #fff;
    --negro: #262626;
    --violeta: #323981;
    --gris1: #ccc;
    --gris2: #999;
    --gris3: #444;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--blanco);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

h2 {
    font-family: 'Michroma', sans-serif;
    font-variant-caps: all-petite-caps;
    font-size: 2.3em;
}

a {
    text-decoration: none;
    color: unset;
}

.wrapper {
    min-width: 1024px;
    display: flex;
}

.cloak{
    border:0;
    clip:rect(0 0 0 0);
    height:1px;
    margin:-1px;
    overflow:hidden;
    padding:0;
    position:absolute;
    width:1px;
}

.aparecer:focus, .aparecer:focus-within {
    background-color: var(--negro);
    color: var(--blanco);
    z-index: 150;
    width: 100%;
    top: 0;
    padding: 15px 0;
    text-align: center;
    font-size: 2em;
    height: auto;
    clip: auto;
}

/* 
---------------------------------------
NAVBAR
---------------------------------------
*/

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: var(--blanco);
    border-bottom: 1px solid var(--gris1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-wrapper {
    min-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}

.header-icon > a {
    display: inline-block;    
    align-self: center;
}

.header img {
    height: 45px;
}

.botonera {
    width: 60%;
}

.botonera-item {
    margin: 0 5px;
    display: block;  
}

.botonera-lista {
    display: flex;
    list-style-type: none;
    margin-right: 10px;
}

.botonera-lista a {
    position: relative;
    transform: perspective(1px) translateZ(0);
    padding: 18px 15px;
    letter-spacing: 0.15em;
    color: #000;
    font-size: 1em;
}

.botonera-lista a::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 4px solid var(--violeta);
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: 50%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.botonera-lista a:hover::before {
    transform: scaleX(1);
}


/* 
---------------------------------------
COVER
---------------------------------------
*/

.slider {
    width: 100%;
    height: 95vh;
    position: relative;
    background-image: url(../img/robots.jpg);
    background-size: cover;
    background-position-x: center;
    background-attachment: fixed;
    background-color: var(--gris2);
    margin-bottom: 60px;
    opacity: 0.7;
    z-index: 40;
}

.slider-wrapper {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.slider-wrapper h1, .slider-wrapper span {
    text-transform: uppercase;
    display: block;
    color: var(--blanco);
    font-family: 'Michroma', sans-serif;

}
.slider-text1 {
    font-size: 40px;
    text-shadow: 0 0 2px #000;
    opacity: 0;
    animation: text1 1s 1;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

.slider-text2 {
    text-shadow: 0 0 5px #000;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-top: 20px;
    position: relative;
    animation: text2 3s 1;
}

@keyframes text1 {
    100%{
        opacity: 1;
        letter-spacing: 12px;
    }
}

@keyframes text2 {
    0%{
        color: black;
        margin-top: -70px;
    }
    30%{
        letter-spacing: 35px;
        margin-top: -70px;
    }
    80%{
        letter-spacing: 5px;
        margin-top: -70px;
    }
}

/* 
---------------------------------------
SECTION: ROBOTECA
---------------------------------------
*/

.roboteca {
    display: flex;
    height: 100vh;
    margin-bottom: 100px;
    padding-top: 90px;
}

.izq-roboteca {
    width: 45%;
    border-right: 1px solid #ccc;
    display: flex;
    align-items: center;
}

.izq-roboteca-wrapper {
    margin-left: 50px;
    border-left: 1px solid #ccc;
    padding: 0 10px;
}

.izq-roboteca h2 {
    margin-bottom: 30px;
}

.izq-roboteca h3 {
    margin-bottom: 30px;
    font-weight: lighter;
    font-variant-caps: all-petite-caps;
    font-size: 1.5em;
    text-justify: distribute;
    text-align-last: justify;
    letter-spacing: 0.5vw;
    color: var(--gris2);
}

.izq-roboteca p {
    width: 80%;
}

.button {
    position: relative;
    top: 30px;
    display: inline-block;
    padding: 12px 24px;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    border: none;
    cursor: pointer;
    border-left: 8px solid #5f5cde;
    background-color: var(--negro);
    color: var(--blanco);
    transition: all 0.5s;
}

.button:hover {
    background-color: var(--gris1);
    color: var(--negro);
}

.der-roboteca {
    width: 55%;
    position: relative;
    overflow: hidden;
}

.image {
    height: auto;
    border-radius: 5%;
    box-shadow: 0 0 20px #888;
    position: absolute;
    transition-duration: 0.2s;
}

.image:hover {
    transform: scale(1.03);
}

.img1 {
    width: 280px;
    top: 200px;
    left: 20px;
    z-index: 3;
}

.img2 {
    width: 250px;
    top: 350px;
    left: 160px;
    z-index: 4;
}

.img3 {
    width: 160px;
    top: 20px;
    left: 480px;
    z-index: 3;
}

.img4 {
    width: 250px;
    top: 300px;
    left: 390px;
    z-index: 5;
}

.img5 {
    width: 320px;
    top: 65px;
    left: 275px;
    z-index: 1;
}

.img6 {
    width: 200px;
    top: 50px;
    left: 65px;
    z-index: 0;
}

/* 
---------------------------------------
SECTION: I+D
---------------------------------------
*/

.id {
    display: flex;
    justify-content: space-around;
    padding-top: 6vh;
    height: 100vh;
    margin-bottom: 60px;
    background-color: var(--negro);
    color: var(--blanco);
}

.id-wrapper {
    max-width: 1024px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.izq-id {
    width: 55%;
}

.izq-id-wrapper {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 5% 5%;
    
}

.ejemplo-id {
    width: 100%;
    padding: 20px 20px;
    transition: box-shadow .5s;
}

.ejemplo-id:hover {
    box-shadow: 0 0 40px 10px #191919;
}

.ejemplo-id img {
    width: 70px;
    height: auto;
    margin-bottom: 10px;
    
}

.ejemplo-id h3 {
    font-variant-caps: petite-caps;
    font-weight: bolder;
    text-justify: distribute;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.ejemplo-id p {
    color: var(--gris2);
    font-weight: lighter;
    font-size: .90em;
    letter-spacing: 0.1em;
}

.der-id {
    width: 35%;
    padding: 10px 10px;
}

.der-id-wrapper {
    text-align: right;
}

.der-id h2 {
    text-justify: distribute;
    text-align-last: right; 
    font-size: 3em;
    letter-spacing: 5vw;
    margin-bottom: 5vh;
}

.der-id h3 {
    margin-bottom: 30px;
    font-weight: lighter;
    font-variant-caps: all-petite-caps;
    font-size: 1.3em;
    text-justify: distribute;
    text-align-last: justify; 
    letter-spacing: 0.5vw;
    color: var(--gris2);

}

/* 
---------------------------------------
SECTION: Proyectos
---------------------------------------
*/

.proyectos {
    height: 100vh;
    padding-top: 90px;
}

.proyectos-titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 6em;
    position: relative;
}

.proyectos-titulo > button {
    position: absolute;
    top: 20px;
    right: 12%;
}

.proyectos-wrapper {
	position: relative;
	margin: 2% auto;
	padding: 1em 4em;
    text-align: center;
    width: 100%;
}

.proyectos-wrapper figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 4.5%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 48%;
	background: var(--negro);
	text-align: center;
    cursor: pointer;
    border-radius: 15px;
}

.proyectos-wrapper figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.7;
}

.proyectos-wrapper figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	backface-visibility: hidden;
}

.proyectos-wrapper figure figcaption, .proyectos-wrapper figure figcaption > a {
	position: absolute;
	top: 15px;
	left: 0;
	width: 100%;
	height: 100%;
}

.proyectos-wrapper figure figcaption > a {
	z-index: 99;
	font-size: 0;
	opacity: 0;
}

.proyectos-wrapper figure h3 {
    letter-spacing: 0.3em;
    font-size: 1.8em;
	font-weight: 500;
}

.proyectos-wrapper figure h3, .proyectos-wrapper figure p {
	margin: 0;
}

.proyectos-wrapper figure p {
	letter-spacing: 1px;
	font-size: 80%;
}

figure.proyecto-contenido {
	background: linear-gradient(to bottom, var(--violeta) 0%, var(--negro) 100%); 
}

figure.proyecto-contenido {
	transition: opacity 0.8s;
}

figure.proyecto-contenido:hover img {
	opacity: 0.4;
}

figure.proyecto-contenido figcaption::after {
	position: absolute;
	right: 30px;
	bottom: 30px;
	left: 30px;
	height: calc(50% - 30px);
	border: 7px solid #fff;
	content: '';
	transition: transform 0.5s;
	transform: translate3d(0,-100%,0);
}

figure.proyecto-contenido:hover figcaption::after {
	transform: translate3d(0,0,0);
}

figure.proyecto-contenido figcaption {
	padding: 3em;
	text-align: left;
}

figure.proyecto-contenido p {
	position: absolute;
	right: 60px;
	bottom: 60px;
	left: 60px;
	opacity: 0;
	transition: opacity 0.5s, transform 0.5s;
	transform: translate3d(0,-100px,0);
}

figure.proyecto-contenido:hover p {
	opacity: 1;
	transform: translate3d(0,0,0);
}

/* 
---------------------------------------
FOOTER
---------------------------------------
*/

.footer {
    background-color: var(--negro);
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.footer-wrapper {
    width: 1024px;
    height: 90vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}

.izq-footer, .der-footer {
    width: 50%;
    height: 100%;
    padding: 3% 4%;
}

.der-footer::before {
    content: "";
    height: 80%;
    border-right: 1px solid var(--gris3);
    position: absolute;
    left: 50%;
    z-index: 5;
}

.izq-footer-wrapper {
    padding: auto 2%;
}

.izq-footer-wrapper h3 {
    color: var(--blanco);
    margin-bottom: 5%;
    font-size: 2em;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.izq-footer-wrapper p {
    color: var(--gris1);
    font-size: 1.3em;
    margin-bottom: 8%;
    text-transform: initial;
}

.footer-contacto {
    margin: 10% auto;
}

.footer-contacto dl {
    margin-bottom: 8%;
    font-size: 1.2em;
}

.telefono, .mail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.telefono dt, .mail dt {
    color: var(--gris2);
    font-size: 1.4em;
    font-weight: lighter;
}

.telefono dd, .mail dd {
    color: var(--blanco);
    font-size: 1.4em;
    transition: all 0.3s;
}

.telefono dd:hover, .mail dd:hover, .social-media i:hover {
    color: var(--violeta);
}

.social-media {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-media i {
    color: var(--gris1);
    font-size: 5em;
    transition: all 0.3s;
}

.der-footer-wrapper {
    margin: 8% 5%;
}

.form {
    align-content: space-around;
}

.form-wrap {
    border-bottom: 1px solid var(--gris3);
    margin-bottom: 25px;
    display: flex;
}

.form-icon {
    font-size: 2em;
    color: var(--gris3);
    margin-right: 0.5em;
    transition: color 0.3s;
}

.form-icon:hover {
    color: var(--blanco);
}

.form-wrap textarea {
    max-height: 200px;
    height: 28vh;
}

.form-input {
    background-color: transparent;
    color: var(--blanco);
    border: none;
    padding-left: 15px;
    height: 35px;
    line-height: 35px;
    font-size: 1.3em;
    width: 100%;
    font-family: 'Open Sans', sans-serif;

}

.form-botonera {
    display: flex;
    height: 80%;
    justify-content: center;
    align-content: center;
}

.button-submit, .button-reset {
    height: 2em;
    width: 2em;
    max-width: 50px;
    max-height: 50px;
    border: none;
    cursor: pointer;
    margin: auto 1em;
    transition-property: transform, box-shadow;
    transition-duration: 0.3s, 0.3s;
    padding: 0;
}

.button-reset {
    overflow: visible;
    background-color: transparent;
    color: crimson;
    font-size: 3.2em;
    position: relative;
}

.button-submit {
    background-color: var(--violeta);
    color: var(--gris1);
    font-size: 3em;
    border-radius: 50%;
}

.button-reset::before, .button-submit::before {
    position: absolute;
    right: 8px;
    z-index: -1;
    font-size: 12px;
    color: var(--gris1);
    opacity: 0;
    transform: translateY(0px);
    transition-property: opacity, transform;
    transition-duration: 0.5s, 0.5s;
}

.button-submit::before{
    content: "Enviar";
}

.button-reset::before{
    content: "Limpiar";
}

.button-reset:hover::before, .button-submit:hover::before {
    transition-property: opacity, transform;
    transition-duration: 1s, 1s;
    transition-delay: 1s, 1s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 100;
    transform: translateY(10vh);
}

.button-submit:hover, .button-reset:hover {
    transform: scale(1.2);    
}

.button-submit:hover {
    animation: shake 0.2s;
    box-shadow: 0 0 5px 2px var(--gris3);
}

@keyframes shake {
    25%{padding-right: 10px;}
    75%{padding-left: 15px;}
    100%{padding: 0;}
}


.form-resultado {
    color: var(--blanco);
}

.copyright {
    position: absolute;
    left: 0;
    bottom: 0;
    color: var(--gris2);
    font-size: 1em;
}

/* 
---------------------------------------
Sitio en construcción
---------------------------------------
*/

.construccion {
    width: 100%;
    height: 100%;
    width: 100%;
    height: 100%;
    background: url('../img/construccion_fondo.jpg') center center no-repeat;
    background-size: cover;
    overflow: hidden;
}
    
.construccion-wrapper {
    margin: 20vh auto;
    text-align: center;
    color: var(--gris3);
}

.construccion-wrapper img {
    margin: 5vh auto;
}

.construccion-wrapper h1 {
    font-size: 3em;
}

.construccion-wrapper p {
    font-size: 2em;
}

.construccion-return > svg {
    display: block;
    margin: 5vh auto;
}
